
.page{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.changeColor {
    background: rgba(0,0,0,0.4);
    transition: all 1s ease;
}

.reset{
    display: flex;
    margin-top: 20px;
   
    
 
}
  
 
.grid {
    display: grid;
    width: 450px;
    height: 450px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .rainbow{
     margin-top: 20px;
     font-weight: 1000px;
  }